<ion-header>
  <ion-toolbar class="toolbar-custom">

    <!-- 🔙 Botón regresar -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ arbol?.nombre || arbol?.idEspecie?.nombreComun }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo ion-padding">

  <!-- Imagen -->
  <img class="imagen-arbol" src="assets/pino.jpg" />

  <!-- Nombre + acciones -->
  <div class="header-info">

    <!-- Grupo: nombre + editar -->
    <div class="titulo-editar">
      <h2>{{ arbol?.nombre || arbol?.idEspecie?.nombreComun }}</h2>

      <ion-icon name="create-outline" class="icono-editar" (click)="abrirModalEditar()">
      </ion-icon>
    </div>

    <!-- Acciones a la derecha -->
    <div class="acciones">
      <ion-icon name="create-outline"></ion-icon>
      <ion-icon name="water-outline"></ion-icon>
      <ion-icon name="scan-outline"></ion-icon>
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-icon name="close-circle-outline"></ion-icon>
    </div>

  </div>

  <!-- Estado -->
  <p class="salud">
    Salud:
    <span [ngClass]="arbol?.estado">
      {{ arbol?.estado?.trim().toUpperCase() }}
    </span>
  </p>

  <!-- Descripción -->
  <p class="descripcion">
    El árbol
    <strong>{{ arbol?.nombre || 'sin nombre' }}</strong>
    pertenece a la especie
    <strong>{{ arbol?.idEspecie?.nombreComun }}</strong>
    (<em>{{ arbol?.idEspecie?.nombreCientifico }}</em>),
    clasificada dentro del tipo
    <strong>{{ arbol?.idEspecie?.tipo }}</strong>.

    Se encuentra ubicado en la zona
    <strong>{{ arbol?.idZona?.nombreZona }}</strong>,
    caracterizada como
    <strong>{{ arbol?.idZona?.descripcion }}</strong>.

    Actualmente, el árbol presenta un estado de salud
    <strong [ngClass]="arbol?.estado">{{ arbol?.estado }}</strong>
    y fue plantado el
    <strong>{{ arbol?.fechaPlantado }}</strong>.
  </p>

</ion-content>
<ion-modal [isOpen]="modalAbierto" (didDismiss)="cerrarModal()">
  <ng-template>

    <ion-header>
      <ion-toolbar class="toolbar-custom">
        <ion-title>Editar nombre</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding fondo">

      <ion-item>
        <ion-label position="stacked">Nuevo nombre</ion-label>
        <ion-input [(ngModel)]="nuevoNombre"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="guardarNombre()">
        Guardar
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="cerrarModal()">
        Cancelar
      </ion-button>

    </ion-content>

  </ng-template>
</ion-modal>