<ion-content class="inicio-content">
  <div class="container">
    <div class="titulo">
      <h1>Flora Guard</h1>
      <h2>Luvianos</h2>
    </div>

    <div class="banner-container">
      <img src="assets/images/banner.jpg" alt="Banner" class="banner-img" />
      <ion-button
        class="btn-entrar"
        fill="solid"
        shape="round"
        (click)="entrar()"
      >
        Entrar
      </ion-button>
    </div>

    <div class="footer">
      <span>©Todos los derechos reservados</span>
      <span class="version">Versión 1.0</span>
    </div>
  </div>
</ion-content>