<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Arboles</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-card *ngFor="let arbol of arboles">
    <img [src]="'assets/pino.jpg'" />

    <ion-card-header>
      <ion-card-title>{{ arbol?.nombre || arbol?.idEspecie?.nombreComun }} #{{arbol.id}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ arbol.descripcion }}

      <div class="adoptar">
        <ion-button size="small" class="btn-adoptar" fill="outline">
          Adopt me
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>