<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ng-container *ngIf="user; else loading">

    <!-- Imagen tipo perfil -->
    <ion-card>
      <img src="assets/Usuario.png" />

      <ion-card-header>
        <ion-card-title>
          {{ user.nombre }} {{ user.apellidoPaterno }} {{user.apellidoMaterno}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ user.rolUsuario }}
      </ion-card-content>
    </ion-card>

    <!-- Datos -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <p><strong>Usuario:</strong> {{ user.usuario }}</p>
        <p><strong>Correo:</strong> {{ user.correo }}</p>
        <p><strong>Teléfono:</strong> {{ user.telefono }}</p>
      </ion-card-content>
    </ion-card>

  </ng-container>

  <!-- Loader -->
  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando usuario...</p>
    </div>
  </ng-template>

</ion-content>