<ion-header>
  <ion-toolbar class="toolbar-custom">
    <ion-title>Arboles</ion-title>

    <ion-buttons slot="end">
    <ion-button (click)="abrirModalBusqueda()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
<h2>Prueba</h2>
  <ion-card *ngFor="let arbol of arbolesPaginados">
    <img [src]="arbol?.urlImagen || 'assets/pino.jpg'"  />

    <ion-card-header>
      <ion-card-title>{{ arbol?.nombre || arbol?.idEspecie?.nombreComun }} #{{arbol.id}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ arbol.descripcion }}

      <div class="adoptar">
        <ion-button size="small" class="btn-adoptar" fill="outline" (click)="adoptar(arbol)">
          Adopt me
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="paginacion">
  <ion-button (click)="prevPage()" [disabled]="currentPage === 0">
    Anterior
  </ion-button>

  <span>Página {{ currentPage + 1 }}</span>

  <ion-button 
    (click)="nextPage()" 
    [disabled]="(currentPage + 1) * pageSize >= arboles.length">
    Siguiente
  </ion-button>
</div>
</ion-content>
<ion-modal [isOpen]="modalBusquedaAbierto" (didDismiss)="cerrarModalBusqueda()">
  <ng-template>

    <ion-header>
      <ion-toolbar class="toolbar-custom">
        <ion-title>Buscar árbol por ID</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding fondo">

      <ion-item>
        <ion-label position="stacked">ID del árbol</ion-label>
        <ion-input type="number" [(ngModel)]="idBusqueda"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="buscarPorId()">
        Buscar
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="cerrarModalBusqueda()">
        Cancelar
      </ion-button>

    </ion-content>

  </ng-template>
</ion-modal>